[Unit]
Description=Bot Pinger Static

[Service]
User=root
ExecStart=/usr/local/bin/pinger --type=bot.static --bot.static.file=/home/ec2-user/bot-static.yml --logger.file=/var/log/pinger.log --logger.level=info --api.port=3031
Restart=always

[Install]
WantedBy=multi-user.target